In [1]:
import pandas as pd
import numpy as np
import nltk

#nltk.download('punkt')
#nltk.download('wordnet')
from nltk.stem import LancasterStemmer, SnowballStemmer, RegexpStemmer, WordNetLemmatizer 

#this was part of the NLP notebook
#import sentence tokenizer
from nltk import sent_tokenize

#import word tokenizer
from nltk import word_tokenize

#list of stopwords
from nltk.corpus import stopwords
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory, StopWordRemover, ArrayDictionary
 


#nltk.download('stopwords')
#nltk.download('averaged_perceptron_tagger')
import string
import re   #reguler expresion
from nltk.corpus import stopwords
from nltk.tokenize.treebank import TreebankWordTokenizer, TreebankWordDetokenizer
from nltk.stem.porter import PorterStemmer
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [2]:
with open('stop_list.txt', 'r') as file:
    stop_list = file.read().split('\n')

In [3]:
def stoplist(teks):
    more_stopword = stop_list
    kata_bersih=[]
    for kata in teks.split():
        if kata not in more_stopword:
            kata_bersih.append(kata)

    return ' '.join(kata_bersih)

In [74]:
stoplist('sebab itu ekky pusing tek masih ada d juga masih ada euy')

'ekky pusing euy'

In [4]:
punct =[]
punct += list(string.punctuation)

def remove_punctuations(text):
    for punctuation in punct:
        text = text.replace(punctuation, ' ')
    return text

In [5]:
def nlp (re):
    # lowercase everything
    re = re.apply(lambda x: x.lower())
    # get rid of '\n' from whitespace 
    re = re.apply(lambda x: x.replace('\n', ' '))
    # removing '&gt;'
    re = re.apply(lambda x: x.replace('&gt;', ''))
    #removing number
    re = re.str.replace('\d+', "")
    # remove punctuations
    re = re.apply(remove_punctuations)
    return re

In [6]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()
d = TreebankWordDetokenizer()

def preproses (kalimat):
    kalimat = word_tokenize(kalimat)
    kalimat = [stemmer.stem(x) for x in kalimat]
    kalimat = d.detokenize(kalimat)
    return kalimat

In [7]:
factory = StopWordRemoverFactory()
d = TreebankWordDetokenizer()

def stopwords (kalimat) :
    kalimat = word_tokenize(kalimat)
    stops = factory.get_stop_words()
    kalimat = [item for item in kalimat if item not in stops]
    kalimat = d.detokenize(kalimat)
    return kalimat

In [8]:
df = pd.read_csv("C:/Users/User/Downloads/TA/data_set_1.csv", encoding = 'utf-8')
df.head(20)

                                              review  label
0  saya ingin tanya speda saya suzuki shogun 125 ...      1
1  saya kan punya beat fi 2018.yang ingin saya ta...      1
2  apakah memang benar bunyi injectornya seperti ...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  saya punya motor kaisar Ruby.jika hidup di tem...      1

In [9]:
df['review'] = nlp(df['review'])
df.head()

                                              review  label
0  saya ingin tanya speda saya suzuki shogun  r p...      1
1  saya kan punya beat fi  yang ingin saya tanyak...      1
2  apakah memang benar bunyi injectornya seperti ...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  saya punya motor kaisar ruby jika hidup di tem...      1

In [10]:
df['review'] = df['review'].apply(stopwords)
df.head()

                                              review  label
0  tanya speda suzuki shogun r pengapiandc memaju...      1
1  kan punya beat fi tanyakan waktu gas putar sua...      1
2  memang benar bunyi injectornya soalnya kedenge...      1
3  honda spacy fi oli gardannya suka netes sendir...      1
4  punya motor kaisar ruby hidup tempat bagus ber...      1

In [11]:
df['review'] = df['review'].apply(lambda x: preproses(x))
df.head()

                                              review  label
0  tanya speda suzuki shogun r pengapiandc maju a...      1
1  kan punya beat fi tanya waktu gas putar suara ...      1
2  memang benar bunyi injectornya soal kedengeran...      1
3  honda spacy fi oli gardan suka netes sendiri c...      1
4  punya motor kaisar ruby hidup tempat bagus jal...      1

In [12]:
df['review'] = df['review'].apply(stoplist)
df.head()

                                              review  label
0  speda suzuki shogun r pengapiandc maju api pot...      1
1  beat fi gas putar suara kemritik gitu dengerin...      1
2    bunyi injectornya kedengeran kasar banget motor      1
3  honda spacy fi oli gardan netes cek bengkel ny...      1
4  motor kaisar ruby hidup bagus jalan asa sendat...      1