In [51]:
import pandas as pd
import numpy as np
import nltk

#nltk.download('punkt')
#nltk.download('wordnet')
from nltk.stem import LancasterStemmer, SnowballStemmer, RegexpStemmer, WordNetLemmatizer 

#this was part of the NLP notebook
#import sentence tokenizer
from nltk import sent_tokenize

#import word tokenizer
from nltk import word_tokenize

#list of stopwords
from nltk.corpus import stopwords

#nltk.download('stopwords')
#nltk.download('averaged_perceptron_tagger')
import string
import re   #reguler expresion
from nltk.corpus import stopwords
from nltk.tokenize.treebank import TreebankWordTokenizer, TreebankWordDetokenizer
from nltk.stem.porter import PorterStemmer
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

In [52]:
punct =[]
punct += list(string.punctuation)

def remove_punctuations(text):
    for punctuation in punct:
        text = text.replace(punctuation, ' ')
    return text

In [53]:
def nlp (re):
    # lowercase everything
    re = re.apply(lambda x: x.lower())
    # get rid of '\n' from whitespace 
    re = re.apply(lambda x: x.replace('\n', ' '))
    # removing '&gt;'
    re = re.apply(lambda x: x.replace('&gt;', ''))
    #removing number
    re = re.str.replace('\d+', "")
    # remove punctuations
    re = re.apply(remove_punctuations)
    # remove ' s ' that was created after removing punctuations
    re = re.apply(lambda x: str(x).replace(" s ", ""))
    return re

In [54]:
factory = StemmerFactory()
stemmer = factory.create_stemmer()
d = TreebankWordDetokenizer()

def preproses (words):
    words = word_tokenize(words)
    stops = set(stopwords.words('indonesian'))
    words = [item for item in words if item not in stops]
    words = [stemmer.stem(x) for x in words]
    words = d.detokenize(words)
    return words

In [65]:
df = pd.read_csv("C:/Users/User/Downloads/TA/data_set_1.csv", encoding = 'utf-8')
df.head()

                                              review  label
0  Mas mau tanya speda saya suzuki shogun 125 r p...      1
1  saya kan punya beat fi 2018.yang mau saya tany...      1
2  apa memang benar bunyi injectornya sprti itu?s...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  sy punya motor kaisar Ruby.jika hidup di tempa...      1

In [66]:
df['review'] = nlp(df['review'])
df.head()

                                              review  label
0  mas mau tanya speda saya suzuki shogun  r peng...      1
1  saya kan punya beat fi  yang mau saya tanyakan...      1
2  apa memang benar bunyi injectornya sprti itu s...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  sy punya motor kaisar ruby jika hidup di tempa...      1

In [67]:
df['review'] = df['review'].apply(lambda x: preproses(x))
df.head()

                                              review  label
0  mas speda suzuki shogun r pengapiandc kalo maj...      1
1  beat fi gas putar suara kemritik gitu dengerin...      1
2  bunyi injectornya sprti kedengeran kasar bange...      1
3  honda spacy fi oli gardan suka netes cek bengk...      1
4  sy motor kaisar ruby hidup bagus aja tp jalan ...      1