In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import import_ipynb
from preprosess import preproses, nlp, stopwords, stoplist

importing Jupyter notebook from preprosess.ipynb

In [3]:
df = pd.read_csv("C:/Users/User/Downloads/TA/data_set_1.csv",encoding = 'utf-8')
df.head()

                                              review  label
0  saya ingin tanya speda saya suzuki shogun 125 ...      1
1  saya kan punya beat fi 2018.yang ingin saya ta...      1
2  apakah memang benar bunyi injectornya seperti ...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  saya punya motor kaisar Ruby.jika hidup di tem...      1

In [4]:
df['review'] = nlp(df['review'])
df.head()

                                              review  label
0  saya ingin tanya speda saya suzuki shogun  r p...      1
1  saya kan punya beat fi  yang ingin saya tanyak...      1
2  apakah memang benar bunyi injectornya seperti ...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  saya punya motor kaisar ruby jika hidup di tem...      1

In [5]:
df['review'] = df['review'].apply(stopwords)
df.head()

                                              review  label
0  tanya speda suzuki shogun r pengapiandc memaju...      1
1  kan punya beat fi tanyakan waktu gas putar sua...      1
2  memang benar bunyi injectornya soalnya kedenge...      1
3  honda spacy fi oli gardannya suka netes sendir...      1
4  punya motor kaisar ruby hidup tempat bagus ber...      1

In [6]:
df['review'] = df['review'].apply(lambda x: preproses(x))
df.head()

                                              review  label
0  tanya speda suzuki shogun r pengapiandc maju a...      1
1  kan punya beat fi tanya waktu gas putar suara ...      1
2  memang benar bunyi injectornya soal kedengeran...      1
3  honda spacy fi oli gardan suka netes sendiri c...      1
4  punya motor kaisar ruby hidup tempat bagus jal...      1

In [7]:
df['review'] = df['review'].apply(stoplist)
df.head()

                                              review  label
0  speda suzuki shogun r pengapiandc maju api pot...      1
1  beat fi gas putar suara kemritik gitu dengerin...      1
2    bunyi injectornya kedengeran kasar banget motor      1
3  honda spacy fi oli gardan netes cek bengkel ny...      1
4  motor kaisar ruby hidup bagus jalan asa sendat...      1

In [8]:
train,test= train_test_split(df, test_size=0.2, random_state=10)

In [9]:
train.to_csv("C:\\Users\\User\\Downloads\\TA\\traindata.csv", index = None)

In [10]:
test.to_csv("C:\\Users\\User\\Downloads\\TA\\testdata.csv", index = None)

In [11]:
train.shape

(404, 2)

In [12]:
test.shape

(101, 2)

In [14]:
df = pd.read_csv("C:\\Users\\User\\Downloads\\TA\\testdata.csv",encoding = 'utf-8')
df.groupby('label').count()

       review
label
0          48
1          53