In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
import import_ipynb
from preprosess import preproses, nlp

In [26]:
df = pd.read_csv("C:/Users/User/Downloads/TA/data_set_1.csv",encoding = 'utf-8')
df.head()

                                              review  label
0  Mas mau tanya speda saya suzuki shogun 125 r p...      1
1  saya kan punya beat fi 2018.yang mau saya tany...      1
2  apa memang benar bunyi injectornya sprti itu?s...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  sy punya motor kaisar Ruby.jika hidup di tempa...      1

In [27]:
df['review'] = nlp(df['review'])
df.head()

                                              review  label
0  mas mau tanya speda saya suzuki shogun  r peng...      1
1  saya kan punya beat fi  yang mau saya tanyakan...      1
2  apa memang benar bunyi injectornya sprti itu s...      1
3  honda spacy fi saya oli gardannya suka netes s...      1
4  sy punya motor kaisar ruby jika hidup di tempa...      1

In [28]:
df['review'] = df['review'].apply(lambda x: preproses(x))
df.head()

                                              review  label
0  mas speda suzuki shogun r pengapiandc kalo maj...      1
1  beat fi gas putar suara kemritik gitu dengerin...      1
2  bunyi injectornya sprti kedengeran kasar bange...      1
3  honda spacy fi oli gardan suka netes cek bengk...      1
4  sy motor kaisar ruby hidup bagus aja tp jalan ...      1

In [29]:
train,test= train_test_split(df, test_size=0.2, random_state=10)

In [30]:
train.to_csv("C:\\Users\\User\\Downloads\\TA\\traindata.csv", index = None)

In [31]:
test.to_csv("C:\\Users\\User\\Downloads\\TA\\testdata.csv", index = None)

In [32]:
train.shape

(404, 2)